<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arpopup.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01F471F79BDC9A5C8BD311CF1932A4E06ED7D019</string>
				<key>dateExpires</key>
				<string>2019-10-02</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>01F471F79BDC9A5C8BD311CF1932A4E06ED7D019</string>
						<key>dateExpires</key>
						<string>2019-10-02</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Vuforia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KR6S48UY5</string>
						<key>name</key>
						<string>GHD Limited (CA)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4KR6S48UY5.com.GHD.ARPopUp.Dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4KR6S48UY5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4KR6S48UY5.com.GHD.ARPopUp.Dev</string>
				</array>
			</dict>
			<key>name</key>
			<string>PopUp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7b678dd0-0b4a-4099-85d5-f1b2229aad28</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4KR6S48UY5</string>
				<key>name</key>
				<string>GHD Limited (CA)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
