<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPPopUP.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>658D1C3A2F3FFB35AF9BDD7E46174A2D250272F7</string>
				<key>dateExpires</key>
				<string>2019-10-03</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>658D1C3A2F3FFB35AF9BDD7E46174A2D250272F7</string>
						<key>dateExpires</key>
						<string>2019-10-03</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Vuforia.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4KR6S48UY5</string>
						<key>name</key>
						<string>GHD Limited (CA)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4KR6S48UY5.com.GHD.CP.ARPopUP</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4KR6S48UY5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4KR6S48UY5.com.GHD.CP.ARPopUP</string>
				</array>
			</dict>
			<key>name</key>
			<string>CPPopUP.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>628562e3-eebe-4808-acd5-b06f942ea784</string>
				<key>name</key>
				<string>CP iOS Development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4KR6S48UY5</string>
				<key>name</key>
				<string>GHD Limited (CA)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
